@use "@/styles/mixins" as *;
@use "@/styles/fonts" as *;

.filters {
  display: flex;
  flex-direction: column;
  padding-block: 50px;
  gap: 40px;
  @include container(1180, 880);

  @include tablet {
    margin-block: 23px;
    padding-block: 30px;
  }

  @include mobile {
    width: 100%;
    margin-block: 25px;
    padding: 0 15px;
    gap: 25px;
  }

  &Title {
    @include hXXS;

    @include tablet {
      @include thM;
    }

    @include mobile {
      @include mhS;
    }
  }

  &List {
    display: flex;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include tablet {
      gap: 18px 14px;
    }

    @include mobile {
      gap: 8px;
    }
  }
}
