@use "@/styles/mixins" as *;
@use "@/styles/fonts" as *;

.overlay {
  display: grid;
  z-index: 1000;
  position: fixed;
  align-items: center;
  justify-content: center;
  inset: 0;
  padding-inline: 15px;
  padding-block: 10px 22px;
  overflow: auto;
  background-color: rgba(24, 9, 38, 0.8);

  @include mobile {
    align-items: start;
  }
}

.closeButton {
  aspect-ratio: 1;
  width: 40px;
  background: url(/icons/close.svg) no-repeat center / contain;
}

.modal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1180px;
  min-height: 880px;
  margin-block: 50px;
  gap: 40px;
  border: 2px var(--cyberpink) solid;
  border-radius: 10px;
  background-color: rgba(24, 9, 38, 0.8);

  @include tablet {
    width: 964px;
    min-height: 700px;
    gap: 10px;
  }

  @include mobile {
    width: 345px;
    height: auto;
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;

    @include tablet {
      padding: 15px;
    }
  }

  &Title {
    @include hL;
    color: var(--cyberpink);
  }

  &Content {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;

    @include tablet {
      padding-inline: 15px;
      padding-bottom: 20px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &Inputs {
    display: flex;
    column-gap: 30px;
    row-gap: 25px;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 620px;
    padding-inline: 20px;

    @include tablet {
      gap: 15px 20px;
    }

    @include mobile {
      padding-inline: 15px;
    }
  }

  &Footer {
    display: flex;
    align-self: center;
    padding-block: 30px;
    gap: 40px;

    @include tablet {
      gap: 30px;
    }
  }
}

.field {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 200px;
  gap: 6px;
}

.input {
  padding: 20px 10px;
  border: 1px var(--cyberpink) solid;
  border-radius: 10px;
  background: none;
  color: var(--cyberpink);

  @include pXL;

  &::placeholder {
    color: var(--maroon);
  }

  &Invalid {
    border-color: var(--golden);
    color: var(--golden);
    &::placeholder {
      color: var(--golden);
    }
  }

  &Error {
    padding-left: 10px;
    color: var(--golden);
    @include mpXXXXS;
  }

  &TextArea {
    flex: 1 0 100%;
    height: 227px;
    outline: none;
    resize: none;

    @include tablet {
      height: 196px;
    }

    @include mobile {
      height: 358px;
    }
  }
}

.stars {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-block: 7px;
  gap: 30px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }

  &Input {
    display: flex;
    position: relative;
    padding: 15px 26px;
    gap: 15px;
    border-radius: 70px;
    background-color: var(--cyberpink);

    @include mobile {
      padding: 15px 5px;
    }
  }

  &Label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--golden);

    @include hXS;

    &::after {
      aspect-ratio: 1;
      width: 22px;
      background-color: var(--golden);
      content: "";
      mask: url(/icons/star.svg) no-repeat center / contain;
    }
  }

  &Range {
    z-index: 2;
    position: absolute;
    inset: 0px 11px;
    opacity: 0;
  }
}

.star {
  position: relative;
  aspect-ratio: 1;
  width: 20px;
  overflow: hidden;
  mask: url(/icons/star.svg) no-repeat center / contain;

  @include mobile {
    width: 17px;
  }

  &::before {
    position: absolute;
    inset: 0;
    background-color: var(--maroon);
    content: "";
    opacity: 0.5;
  }

  &Half::after {
    position: absolute;
    inset: 0;
    transform: translateX(-10px) rotateZ(30deg) scaleY(1.5);
    background-color: var(--golden);
    content: "";
  }

  &Active::before {
    background-color: var(--golden);
    opacity: 1;
  }
}

.imageInput {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  overflow: hidden;
  border: 1px var(--cyberpink) solid;
  border-radius: 10px;

  @include tablet {
    width: 284px;
    height: 400px;
  }

  @include mobile {
    width: 284px;
    height: 400px;
  }

  &Label {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--cyberpink);
    cursor: pointer;
    @include pXL;

    &::before {
      aspect-ratio: 1;
      width: 80px;
      margin: 10px;
      background-color: var(--cyberpink);
      content: "";
      mask: url(/icons/plus.svg) no-repeat center / contain;
    }

    &::after {
      position: absolute;
      inset: 0;
      content: "";
    }
  }

  &Picture {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }

  &Button {
    display: none;
  }
}

.select {
  height: 66px;

  @include mobile {
    height: auto;
  }

  &Inner {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #180926e5;
    color: var(--maroon);
    transition: max-height 300ms;

    &Open {
      max-height: 450px;
    }

    &Invalid {
      border-color: var(--golden);
      color: var(--golden);
    }
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    padding-inline: 10px;
    color: inherit;
    cursor: pointer;

    &::after {
      aspect-ratio: 1;
      width: 30px;
      margin: 10px;
      background: url(/icons/toggle.svg) no-repeat center / contain;
      content: "";
      transition: transform 300ms;
    }

    &Active {
      color: var(--cyberpink);
    }

    &Open::after {
      transform: rotateZ(-180deg);
    }
  }

  &Title {
    display: flex;
    flex: 1 0 auto;
    align-items: center;

    color: var(--maroon);
  }

  &Items {
    display: flex;
    flex-direction: column;
    max-height: 0;
    padding-inline: 10px;
    overflow: auto;
    gap: 10px;
    opacity: 0;
    scrollbar-width: none;

    transition:
      max-height 300ms,
      opacity 300ms;

    &Open {
      max-height: 390px;
      padding-bottom: 20px;
      opacity: 1;
    }
  }

  &Item {
    display: flex;
  }

  &Label {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    color: var(--maroon);
    cursor: pointer;

    &:has(+ .selectCheckbox:checked) {
      color: var(--cyberpink);
    }
  }

  &Checkbox {
    appearance: none;
    position: relative;
    aspect-ratio: 1;
    width: 40px;
    cursor: pointer;

    &:checked::before {
      position: absolute;
      inset: 10px;
      background: url(/icons/checkMark.svg) no-repeat center / contain;
      content: "";
    }
  }
}

.confirm {
  display: grid;
  position: fixed;
  place-items: center;
  inset: 0;

  &::before {
    position: fixed;
    inset: 0;
    background-color: #180926;
    content: "";
    opacity: 0.95;
  }

  &Content {
    display: grid;
    position: relative;
    justify-items: center;
    gap: 35px;
  }

  &Title {
    @include hXL;
    @include tablet {
      @include thXL;
    }
    @include mobile {
      @include mhXL;
    }
  }

  &Buttons {
    display: flex;
    gap: 35px;
  }
}
