@use "@/styles/fonts" as *;
@use "@/styles/mixins" as *;

.notFound {
  @include hXL;
  @include tablet {
    align-self: center;
    @include thXL;
  }
  @include mobile {
    @include mhXL;
  }
}

.wrapper {
  background: url(/imgs/moviebg.webp) no-repeat bottom / cover;
  mix-blend-mode: lighten;

  @include mobile {
    background-position: top;
    background-size: 100% 750px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  padding-bottom: 80px;
  gap: 70px;
  color: var(--cyberpink);
  @include container(1180, 880, 880);

  @include tablet {
    padding-block: 100px 80px;
  }

  @include mobile {
    padding-inline: 15px;
    padding-block: 30px 80px;
  }

  &Top {
    display: flex;
    justify-content: space-between;
  }

  &Title {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }

  &Content {
    display: grid;
    grid-template-columns: 1fr 580px;
    gap: 120px;

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      grid-template-rows: min-content min-content;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      align-self: center;
      width: 100%;
      max-width: initial;
    }
  }

  &Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include mobile {
      justify-content: center;
    }
  }
}

.title {
  @include hL;

  @include mobile {
    @include mhL;
  }
}

.year {
  color: var(--raspberry);
  @include pL;

  @include mobile {
    @include mpL;
  }
}

.edit {
  flex: 0 0 auto;
  aspect-ratio: 1;
  width: 40px;
  background-color: var(--cyberpink);
  mask: url(/icons/edit.svg) no-repeat center / contain;
}

.actors {
  display: grid;
  grid-template-columns: 1fr 40px;
  max-height: 40px;
  gap: 30px;
  transition: max-height 300ms;

  @include pMB;

  @include tablet {
    @include tpMB;
  }

  @include mobile {
    @include mButton;
  }

  &:hover {
    max-height: 100px;

    & .actorsNames {
      white-space: initial;
    }
  }

  &Names {
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
  }

  &::after {
    aspect-ratio: 1;
    width: 40px;
    transform: rotateZ(180deg);
    background: url(/icons/toggle.svg) no-repeat center / 20px;
    content: "";
  }
}

.director {
  @include pXSB;

  @include mobile {
    @include mpXSB;
  }
}

.description {
  @include pXSR;

  @include mobile {
    @include mpXSB;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 60px;

  @include tablet {
    align-self: center;
    max-width: 480px;
  }

  @include mobile {
    padding-top: 0;
    gap: 30px;
  }

  &Title {
    text-align: center;
    @include hXL;
    @include tablet {
      @include thXL;
    }
    @include mobile {
      @include mhXL;
    }
  }
}
